/*Header*/
#main-header {
    align-items: center;
    text-align: center;
    min-height: 12vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    background-color: var(--Col1);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'hdr-logo . hdr-TTV . hdr-news';
}

#index-header-logo {
    border: 2px solid black;
    border-radius: 20px;
    max-width: 15vw;
    max-height: 10vh;
    background-color: white;
    padding: 5px;
    margin: auto;
    grid-area: hdr-logo;
}
#header-ttv-text {
    font-size: 2.5vw;
    grid-area: hdr-TTV;
}

#header-ref-links {
    color: white;
    font-family: monospace;
    font-size: 20px;
    grid-area: hdr-news;
    text-decoration: none;
}
#header-ref-links:hover {
    color: #94C01F;
}
