/*General*/
:root {

    --Col1: #44205F;
    --Col2: #94C01F;    
    --Col3: #3b1c53;


}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: black;
}
/*Button Styling*/

#insert-form-select-knop {
    display: flex;
    height: 15vh;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.insert-button {
    width: 10vw;
    height: auto;
    margin: 4vh;
    background-color: var(--Col2);
    color: var(--Col1);
    font-size: 1.75em;
    border: solid var(--Col3) 4px;
    border-radius: 10px;
}
.insert-button:hover {
    cursor: pointer;
}

#form-input-section {/*where the form itself is*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Col2);
    color: var(--Col1);
    font-size: 1.75em;
    border: solid var(--Col3) 4px;
    border-radius: 10px;
    margin: 3vh;
    margin-top: 1vh;
    min-height: 63.4vh;
}


/*Slideshow Frame*/
#index-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    margin-bottom: 7vh;
    padding: 2vh;
    background-color: var(--Col2);
    border-radius: 8px;
    border: solid 3px black;
}

#index-slideshow-frame {
    height: 80vh;
    width: 80vw;
    background:
    repeating-conic-gradient(var(--Col3) 0 12.5%, var(--Col1) 0 25%)
    0/100px 100px;
    background-size: 100%;
    margin: 2vh;
    padding: 2vh;
    border: solid var(--Col1) 2px;
    border-radius: 10px;
    text-align: center;
    color: var(--Col2);
}

#index-slideshow-frame:fullscreen {
    height: 100vh;
    width: 100vw;

}



/*Slides*/
.Slide {
    display: none;
    transition: opacity 1s ease;
    opacity: 0;
}
.Slide:fullscreen {
    height: 100%;
    width: 100%;
}

.slide-type-1 {
    height: 80vh;
    text-align: center;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". t1-h1 t1-h1 t1-h1 ."
    ". . . . ."
    "t1-img2 t1-img2 t1-artc t1-artc ."
    ". . t1-artc t1-artc ."
    "t1-img1 t1-img1 t1-artc t1-artc ."
}


.slide-type-2 {
    height: 80vh;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". t1-h1 t1-h1 t1-h1 ."
    "t1-img2 t1-img2 . . ."
    ". . t1-artc t1-artc ."
    "t1-img1 t1-img1 t1-artc t1-artc ."
    ". . t1-artc t1-artc ."
}
.slide-type-2:fullscreen{
height: 100%;
}

#template-h1-1 {
    font-family: "Dela Gothic One", sans-serif;
    padding: 20px;
    font-size: 8vh;
    font-weight: 1;
    grid-area: t1-h1;
}

#template-image-1 {
    max-width: 20vw;
    max-height: 30vh;
    grid-area: t1-img1;
    margin: 20px;
    border: solid var(--Col2) 5px;
    border-radius: 10px;
}
#template-image-2 {
    max-width: 20vw;
    max-height: 30vh;
    grid-area: t1-img2;
    margin: 20px;
    border: solid var(--Col2) 5px;
    border-radius: 10px;
}

#template-article-1 {
    font-family: "Playpen Sans", cursive;
    font-size: 1.5vw;
    grid-area: t1-artc; 
}




.Story-section {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "s1-h1 s1-h1 s1-h1"
    ". . ."
    "s1-art1 . s1-art2 "
    "s1-art1 . s1-art2 "

}




#Story-h1-1 {
    grid-area: s1-h1;
    font-size: 6em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
#Story-article-1 {grid-area: s1-art1; font-size: 3em;}
#Story-article-2 {grid-area: s1-art2; font-size: 3em;}

/*Flash Elements*/
#uploadForm {
    display: flex;
    flex-direction: column;
}
#flash-header1 {
    height: 2vh;
    width: 20vw;
}
#flash-desc1 {
    height: 20vh;
    width: 20vw;
}


.flash-form-elements{
    margin: 1vh;
    text-align: center;
    color: white;
    background-color: #3b1c53;
}

.flash-form-elements::placeholder {
    color: var(--Col2); /* Replace this with your desired color */
}

input[type="file"].flash-form-elements {
    display: none;
}

.custom-file-upload {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    grid-area: t1-artc; 
    border: 3px solid black;
    background-color: var(--Col1);
    color: var(--Col2);
    border-radius: 5px;
    margin: 2vh;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}





/*Gallery Stuff*/
.Gallery {
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "gal-header gal-header gal-header gal-header gal-header"
    "gal-img1 gal-img2 gal-img3 gal-img4 gal-img5"
    "gal-img6 gal-img7 gal-img8 gal-img9 gal-img10"
}
.gallery-img {
    width: 15vw;
}



#gallery-h1-1 {
     grid-area: gal-header;
     font-family: "Dela Gothic One", sans-serif;
     font-size: 6vh;
     padding-bottom: 20px;
}
#gallery-image-1 { grid-area: gal-img1; }
#gallery-image-2 { grid-area: gal-img2; }
#gallery-image-3 { grid-area: gal-img3; }
#gallery-image-4 { grid-area: gal-img4; }
#gallery-image-5 { grid-area: gal-img5; }
#gallery-image-6 { grid-area: gal-img6; }
#gallery-image-7 { grid-area: gal-img7; }
#gallery-image-8 { grid-area: gal-img8; }
#gallery-image-9 { grid-area: gal-img9; }
#gallery-image-10 { grid-area: gal-img10; }  

